body{
  background-color:#FD5E53
}
hr{
  border-style : none;
  border-top-style : dotted;
  border-color : white;
  border-width :5px;
  width : 5%;

}
h1{
   color: #A6D1E6
}
h3{
   color: #A6D1E6
}
